        {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: space-between !important;">
        <a class="navbar-brand" target="_blank" href="#">Lorem Ipsum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="nav navbar-nav navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="https://github.com/N-Crofts/project_2" target="_blank">Github<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" target="_blank" href="#">Lorem Ipsum</a>
                </li>
            </ul>
        </div>
    </nav> --}}

    <div class="jumbotron text-center">
        <div class="hero-image">
                            <div class="frontPageUsers"><a href='/users'>connect</a></div>             
                            <div class="frontPageAuthors"><a href='/authors'>discover</a></div>             

            <h1 class="display-4 heroic">MYSTERY HUB</h1>
            <p class="lead heroicTwo">a resource for fans of hardboiled detective fiction.</p>

        </div>

    </div>

   




