body {
  padding-top: 75px;
  font-family: 'Zilla Slab', serif;
  font-size: 20px;
  background-color: rgb(124, 132, 136);
}

header {
  text-align: center;
}

a {
  color: rgb(225, 234, 238);
}

.singleUser {
  text-align: left;
  padding-left: 40%;
  padding-bottom: 5px;
}

.singleFav {
  text-align: right;
  padding-right: 65%;
  padding-bottom: 5px;
  float: right;
}

.showPage {
  text-align: center;
}

.newPage {
  text-align: center;
}

.editPage {
  text-align: center;
}
