<div class="newNovel">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
      <div class="container">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="../{{author._id}}novels">Back</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="mt-5">Add Novel:</h1>
            <div>
              <br>
                <p>    
                  <form class="signUp" action='../{{author._id}}novels' method='POST'>
                    <div class="left">title:</div> <div class="right"><input type='text' name='title'></div>
                    <br>
                    <br>
                    <div class="left">synopsis:</div> <div class="right"><input type='text' name='synopsis'></div>
                    <br>
                    <br>
                    <div class="submit"><input type='submit' value='submit'></div>
                  </form>  
                </p>     
            </div>
          </div>
        </div>
      </div>
    </section>

</div>
