<div class="editPage">
<h1>Edit User</h1>

<form action='/users/{{user._id}}?_method=PUT' method='POST'>
    <div>User: <input type='text' name='username' value='{{user.username}}'></div>
    <div>Favorite Authors: <input type='text' name='author' value='{{user.author}}'></div>
    <div><input type='submit' value='Update User'></div>
</form>
</div>