
<div class="newPage">
<h1>New User</h1>

<form action='/users' method='POST'>
    <div>Name: <input type='text' name='username'></div>
    <div>Age: <input type='text' name='age'></div>
    <div>Location: <input type='text' name='location'></div>
    <div>Network: <input type='text' name='network'></div>
    <div>Favorite Authors: <input type='text' name='authors'></div>
    <div><input type='submit' value='Create New User'></div>
</form>

<div><a href='/users'>Go Back to Users</a></div>
</div>


{{!-- <div>
    <h2>Favorite Authors:</h2> 
    {{#each authors }}
        <p>{{name}}</p>
    {{/each}}

</div> --}}