<div class="indexAuthors">
    <h1>All Novelists <a href='/authors/new'>Add New Author</a></h1>


{{!-- <div>
    {{#each authors}}
    <div>
        {{this.name}}
        <a href="/authors/{{../author._Id}}">More On This Author</a>
    </div>
    {{/each}}
</div> --}}


<div>
    {{#each authors}}
    <div> <a href='/authors/{{this._id}}'>{{this.name}}</a></div>
    {{/each}}
</div>

<div><a href='/'>Home</a></div>

</div>