<header>
    <h1>All Novelists <a href='/authors/{{this._id}}/authors/new'>Add New Author</a></h1>
</header>

<div>
    {{#each authors}}
    <div>
        {{this.name}}
        <a href="/authors/{{../author._Id}}">More On This Author</a>
    </div>
    {{/each}}
</div>

